.flex-container{
    display: flex;
}

.flex-container > div {
    margin: 100px;
}

.grouped-items{
    margin-left: 20px;
}

.btn-grps button{
    display: block;
    margin: 10px 0
}